
body {
  font: 10px helvetica;
}

.tick text {
  fill: #000;
  font: 9px helvetica;
}

span.symbol {
  fill: gray;
  border: 1px solid;
  padding: 1px 5px;
  margin-right: 5px;
}

path.candle {
  stroke: #000000;
}

path.candle.body {
  stroke-width: 0;
}

path.candle.up {
  fill: red;
  fill-opacity: 0.8;
  stroke: red;
}

path.candle.down {
  fill: blue;
  fill-opacity: 0.8;
  stroke: blue;
}

path.volume {
  fill: lightslategray;
  opacity: 0.5;
}

.trendline {
  stroke: blue;
  stroke-width: 0.8;
}

.trendline circle {
  stroke-width: 0;
  display: none;
}

.mouseover .trendline path {
  stroke-width: 1;
}

.mouseover .trendline circle {
  stroke-width: 1;
  display: inline;
}

.dragging .trendline {
  stroke: darkblue;
}

.interaction path, .interaction circle {
  pointer-events: all;
}

.interaction .body {
  cursor: move;
}

.interaction .start, .interaction .end {
  cursor: nwse-resize;
}

.ichimoku path {
  fill: none;
  stroke-width: 0.8;
}

.ichimoku path {
  stroke: #000000;
}

.ichimoku path.chikouspan {
  stroke: #BF5FFF;
  opacity: 0.0; 
}

.ichimoku path.tenkansen {
  stroke: #0033FF;
  opacity: 0.0;
}

.ichimoku path.kijunsen {
  stroke: rgb(53, 173, 243);
  stroke-width: 1.4;
  /* opacity: 0.0; */
}

.ichimoku path.kumo {
  opacity: 0.4;
}

.ichimoku path.kumo.up {
  fill: pink;
}

.ichimoku path.kumo.down {
  fill: skyblue;
}

.ichimoku path.senkouspana {
  stroke: #2b8b92;
  opacity: 0.0;
}

.ichimoku path.senkouspanb {
  stroke: darkmagenta;
  /* opacity: 0.0; */
}

.bollinger {
  fill-opacity: 0.0;
  stroke: black;
}
.bollinger path.middle {
  opacity: 0.0;
}

.ema {
  fill-opacity: 0.0;
}

.ema0 {
  stroke: rgb(198, 250, 8);
  stroke-width: 1.3;
}

.ema1 {
  stroke: rgb(233, 137, 252);
  stroke-width: 1.4;
}

.ema2 {
  stroke: red;
  stroke-width: 1.5;
}

.crosshair {
  cursor: crosshair;
}

.crosshair path.wire {
  stroke: #DDDDDD;
  stroke-dasharray: 1, 1;
}

.crosshair .axisannotation path {
  fill: #DDDDDD;
}

text .tick_count {
  width: 5;
  size: 5;
}