.card-panel {
  padding: 5px;
}

.card .card-content {
  padding: 5px;
}

.card .card-content .card-title {
  font-size: 10px;
  font-weight: bold;
  line-height: 20px;
  margin-bottom: 5px;
}

.card .card-content .card-title .card-title-desc {
  font-size: 8px;
}

.card-title-info {
  font-size: 8px;
  font-weight: normal;
}

.index-unit {
  font-size: 10px;
}

.index-title {
  font-size: 10px;
  color: gray;
}

.row .col {
  padding: .20rem .25rem;
}

.row .col .index {
  padding: .20rem .25rem;
  line-height: 1.0;
}

#coin-input {
  margin: 0;
}

#update-time {
  font-size: 10px;
  color: gray;  
}

td, th {
  padding: 0;
  font-size: 12px;
}

th {
  font-size: 10px;
}