doctype
html
  head
    link(rel="stylesheet" href="/main.css")
    script(async src="https://www.googletagmanager.com/gtag/js?id=UA-111541435-1")
    script
      | window.dataLayer = window.dataLayer || [];
      | function gtag(){dataLayer.push(arguments);}
      | gtag('js', new Date());
      | gtag('config', 'UA-111541435-1');
    script(async src='//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js')
    script
      | (adsbygoogle = window.adsbygoogle || []).push({
      |   google_ad_client: "ca-pub-5477538871768170",
      |   enable_page_level_ads: true
      | });
body
    != yield