doctype html
html(lang='utf8')
  head
    title MarketMoni
    script(async src='//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js')
    script
      | (adsbygoogle = window.adsbygoogle || []).push({
      |   google_ad_client: "ca-pub-5477538871768170",
      |   enable_page_level_ads: true
      | });
  body
    h1 MarketMoni
    p 시장 정보를 모니터링하여 필요한 정보를 정리하여 제공합니다.
